@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family:"Open Sans", sans-serif;
}
.chat-body {
    height: 500px;
}

.test-color {
    background-color: aqua;
}
.test2-color {
    background-color: rgb(241, 235, 235);
    border-radius: 15px;
}
ul > li {
    list-style-type: none;
    
}
#shadow {
    border-radius: 15px;
    box-shadow: 1px 1px 22px 13px rgba(0,0,0,0.22);
}
#friendid:hover {
    background-color: rgb(133, 127, 212);
    font-size: 22px;
}
.right-message {
   background-color: rgb(241, 151, 214);
   word-wrap: break-word;
    padding: 10px;
    margin-left: 50%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.22);
    cursor: pointer;
}

.left-message {
    cursor: pointer;
    background-color: rgb(194, 222, 253);
    word-wrap: break-word;
     padding: 10px;
     margin-right: 50%;
     border-radius: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 10px;
     box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.22);
 }
/**    -webkit-box-shadow: 1px 0px 22px 13px rgba(0,0,0,0.22);
-moz-box-shadow: 1px 0px 22px 13px rgba(0,0,0,0.22);
box-shadow: 1px 0px 22px 13px rgba(0,0,0,0.22);**/
